CONTENT_PROVIDER=local
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

SIMULATED_API_DELAY_MS=0
NEXT_PUBLIC_AUTH_DELAY_MS=0

GHOST_CONTENT_API_URL=
GHOST_CONTENT_API_KEY=
GHOST_IMAGE_HOST=
GHOST_REVALIDATE_SECONDS=120
