@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F7F1;
  --foreground: #2A2A2A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F9F7F1;
}
::-webkit-scrollbar-thumb {
  background: #D1CDB9;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B3A3A;
}